<!DOCTYPE html>
<html lang="en">
    <head>
        <!--=====================================
                    META-TAG PART START
        =======================================-->
        <!-- REQUIRE META -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- AUTHOR META -->
        <meta name="author" content="Mironcoder">
        <meta name="email" content="mironcoder@gmail.com">
        <meta name="profile" content="https://themeforest.net/user/mironcoder">

        <!-- TEMPLATE META -->
        <meta name="name" content="Classicads">
        <meta name="type" content="Classified Advertising">
        <meta name="title" content="Classicads - Classified Ads HTML Template">
        <meta name="keywords" content="classicads, classified, ads, classified ads, listing, business, directory, jobs, marketing, portal, advertising, local, posting, ad listing, ad posting,">
        <!--=====================================
                    META-TAG PART END
        =======================================-->

        <!-- FOR WEBPAGE TITLE -->
        <title>Givr - Let's Donate </title>

        <!--=====================================
                    CSS LINK PART START
        =======================================-->
        <!-- FOR PAGE TITLE ICON -->
        <link rel="icon" href="images/favicon.png">

        <!-- FOR FLATICON -->
        <link rel="stylesheet" href="fonts/flaticon/flaticon.css">
        <link rel="stylesheet" href="fonts/flaticon2/flaticon.css">

        <!-- FOR FONTAWESOME -->
        <link rel="stylesheet" href="fonts/font-awesome/fontawesome.css">

        <!-- FOR SLICK SLIDER -->
        <link rel="stylesheet" href="../css/vendor/slick.min.css">

        <!-- FOR BOOTSTRAP -->
        <link rel="stylesheet" href="../css/vendor/bootstrap.min.css">

        <!-- FOR COMMON STYLE -->
        <link rel="stylesheet" href="css/custom/main.css">

        <!-- FOR INDEX PAGE STYLE -->
        <link rel="stylesheet" href="css/custom/index.css">
        <!--=====================================
                    CSS LINK PART END
        =======================================-->
    </head>
    <body>
        <!--=====================================
                    HEADER PART START
        =======================================-->
        <header class="header-part">
            <div class="container" id="head">
                <div class="header-content">

                    <div class="header-left">
                        <ul class="header-widget">
                            <li >
                            </li>
                            <li>
                                <a href="/" class="header-logo">
                                    <img src="images/logo.png" alt="logo">
                                </a>
                            </li>
                            <li>
                                    
                                    
                                   <input type="checkbox" id="loginBtn">
                                   <label for="loginBtn" class="labelogin"><i class="fas fa-user"></i><span class="annoyinglogin">Login</span></label>
                                   <div id="loginOverlay">
                                    <section class="fxt-template-animation fxt-template-layout28" data-bg-image="img/figure/bg28-l.jpg">
                                        <!-- Animation Start Here -->
                                        <div id="particles-js"></div>
                                        <!-- Animation End Here -->
                                        <div class="fxt-content">
                                            <label for="loginBtn" class="close-btn fas fa-times"></label>
                                            <div class="fxt-header">
                                                <a href="/" class="fxt-logo"><img src="images/logo.png" alt="Logo"></a>
                                                <% if (message.length > 0) { %>
                                                    <div class="alert alert-danger"><%= message %></div>
                                                <% } %>
                                                <ul class="fxt-switcher-wrap">
                                                    <li><a href="" class="switcher-text active">Login</a></li>
                                                    <li>
                                                        <input type="checkbox" name="" id="registerBtn">
                                                        <label class="switcher-text inline-text" for="registerBtn">Register</label>
                                                        <div id="registerOverlay">
                                                            <section class="fxt-template-animation fxt-template-layout28" data-bg-image="img/figure/bg28-l.jpg">
                                                            <!-- Animation Start Here -->
                                                            <div id="particles-js"></div>
                                                            <!-- Animation End Here -->
                                                            <div class="fxt-content theRegister">
                                                                <label for="registerBtn" class="close-btn fas fa-times"></label>
                                                                <div class="fxt-header">
                                                                    <a href="/" class="fxt-logo"><img src="images/logo.png" alt="Logo"></a>
                                                                    <% if (message.length > 0) { %>
                                                                        <div class="alert alert-danger"><%= message %></div>
                                                                    <% } %>
                                                                    <ul class="fxt-switcher-wrap">
                                                                        <li><a class="switcher-text goBack"><label for="registerBtn">Login</label></a></li>
                                                                        <li><a href="" class="switcher-text active">Register</a></li>
                                                                        <li><a href="forgot-password-28.html" class="switcher-text">Forgot Password</a></li>
                                                                    </ul>
                                                                </div>
                                                                <div class="fxt-form">
                                                                    <div class="fxt-transformY-50 fxt-transition-delay-1">
                                                                        <p>Create an account</p>
                                                                    </div>
                                                                    <form method="POST" action="/signup">
                                                                        <div class="form-group">
                                                                            <div class="fxt-transformY-50 fxt-transition-delay-2">
                                                                                <input type="text" id="name" class="form-control" name="name" placeholder="Name" required="required">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="fxt-transformY-50 fxt-transition-delay-3">
                                                                                <input type="email" class="form-control" name="email" placeholder="Email Address" required="required">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="fxt-transformY-50 fxt-transition-delay-4">
                                                                                <input id="password" type="password" class="form-control" name="password" placeholder="********" required="required">
                                                                                <i toggle="#password" class="fa fa-fw fa-eye toggle-password field-icon"></i>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="fxt-transformY-50 fxt-transition-delay-5">
                                                                                <button type="submit" class="fxt-btn-fill">Register</button>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                                <div class="fxt-style-line">
                                                                    <div class="fxt-transformY-50 fxt-transition-delay-5">
                                                                        <h3>Or Login With</h3>
                                                                    </div>
                                                                </div>
                                                                <ul class="fxt-socials">
                                                                    <li class="fxt-facebook fxt-transformY-50 fxt-transition-delay-6">
                                                                        <a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a>
                                                                    </li>
                                                                    <li class="fxt-twitter fxt-transformY-50 fxt-transition-delay-7">
                                                                        <a href="#" title="twitter"><i class="fab fa-twitter"></i></a>
                                                                    </li>
                                                                    <li class="fxt-google fxt-transformY-50 fxt-transition-delay-8">
                                                                        <a href="#" title="google"><i class="fab fa-google-plus-g"></i></a>
                                                                    </li>
                                                                    <li class="fxt-linkedin fxt-transformY-50 fxt-transition-delay-9">
                                                                        <a href="#" title="linkedin"><i class="fab fa-linkedin-in"></i></a>
                                                                    </li>
                                                                    <li class="fxt-pinterest fxt-transformY-50 fxt-transition-delay-10">
                                                                        <a href="#" title="pinterest"><i class="fab fa-pinterest-p"></i></a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            </section>
                                                        </div>
                                                    </li>
                                                    <li><a href="forgot-password-28.html" class="switcher-text">Forgot Password</a></li>
                                                </ul>
                                            </div>
                                            <div class="fxt-form">
                                                <div class="fxt-transformY-50 fxt-transition-delay-1">
                                                    <p class="loginP">Login into your account</p>
                                                </div>
                                                <form method="POST" action="/login">
                                                    <div class="form-group">
                                                        <div class="fxt-transformY-50 fxt-transition-delay-2">
                                                            <input type="email" id="email" class="form-control" name="email" placeholder="Email" required="required">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="fxt-transformY-50 fxt-transition-delay-3">
                                                            <input id="password" type="password" class="form-control" name="password" placeholder="********" required="required">
                                                            <i toggle="#password" class="fa fa-fw fa-eye toggle-password field-icon"></i>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="fxt-transformY-50 fxt-transition-delay-4">
                                                            <div class="fxt-checkbox-area">
                                                                <div class="checkbox">
                                                                    <input id="checkbox1" type="checkbox">
                                                                    <label for="checkbox1">Keep me logged in</label>
                                                                </div>
                                                                <button type="submit" class="fxt-btn-fill">Log in</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="fxt-style-line">
                                                <div class="fxt-transformY-50 fxt-transition-delay-5">
                                                    <h3>Or Login With</h3>
                                                </div>
                                            </div>
                                            <ul class="fxt-socials">
                                                <li class="fxt-facebook fxt-transformY-50 fxt-transition-delay-6">
                                                    <a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a>
                                                </li>
                                                <li class="fxt-twitter fxt-transformY-50 fxt-transition-delay-7">
                                                    <a href="#" title="twitter"><i class="fab fa-twitter"></i></a>
                                                </li>
                                                <li class="fxt-google fxt-transformY-50 fxt-transition-delay-8">
                                                    <a href="#" title="google"><i class="fab fa-google-plus-g"></i></a>
                                                </li>
                                                <li class="fxt-linkedin fxt-transformY-50 fxt-transition-delay-9">
                                                    <a href="#" title="linkedin"><i class="fab fa-linkedin-in"></i></a>
                                                </li>
                                                <li class="fxt-pinterest fxt-transformY-50 fxt-transition-delay-10">
                                                    <a href="#" title="pinterest"><i class="fab fa-pinterest-p"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </section>
                                    </div>
                              
                            </li>
                            <li>
                                <button type="button" class="header-src">
                                    <i class="fas fa-search dropped"></i>
                                </button>
                            </li>
                        </ul>
                    </div>

                    <form class="header-search">
                        <div class="header-main-search">
                            <button type="submit" class="header-search-btn"><i class="fas fa-search"></i></button>
                            <input type="text" class="form-control" placeholder="Search, Whatever you needs...">
                            <button type="button" class="header-option-btn tooltip">
                                <i class="fas fa-sliders-h"></i>
                                <span class="tooltext left">FilterOption</span>
                            </button>
                        </div>
                        <div class="header-search-option">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="City">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="State">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Category">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <input type="number" class="form-control" placeholder="Price">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-btn">
                                        <button type="submit" class="btn btn-inline">
                                            <i class="fas fa-search"></i>
                                            <span>Search Here</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="header-right">
                        <ul class="header-widget">
                            <li>
                                <button class="header-favourite">
                                    <i class="fas fa-bookmark"></i>
    
                                </button>
                            </li>
                            <li>
                                <button class="header-notify">
                                    <i class="fas fa-bell"></i>
                                    
                                </button>
                            </li>
                            <li>
                                <button class="header-message">
                                    <i class="fas fa-envelope"></i>
                                    
                                </button>
                            </li>
                        </ul>
                        <a href="/" class="btn btn-inline">
                            <i class="fas fa-plus-circle"></i>
                            <span>put up a Giv</span>
                        </a>
                    </div>
                    
                </div>
            </div>
        </header>
        <!--=====================================
                    HEADER PART END
        =======================================-->


        <!--=====================================
                    SIDEBAR PART START
        =======================================-->

        <!--=====================================
                    SIDEBAR PART END
        =======================================-->


        <!--=====================================
                    BTMBAR PART START
        =======================================-->
        <div class="btmbar-part">
            <div class="container">
                <ul class="btmbar-widget">
                    <li>
                        <a href="/">
                            <i class="fas fa-user"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-star"></i>
                            <sup>0</sup>
                        </a>
                    </li>
                    <li>
                        <a class="plus-btn" href="/">
                            <i class="fas fa-plus"></i>
                            <span>Ad Your Post</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-bell"></i>
                            <sup>0</sup>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-envelope"></i>
                            <sup>0</sup>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--=====================================
                    BTMBAR PART END
        =======================================-->


        <!--=====================================
                    BANNER PART START
        =======================================-->
        <section class="banner-part">
            <div class="container">
                <div class="banner-content">
                    <h1>Yes its all free.</h1>
                    <p>Donate from used cars to mobile phones and computers, or even donate your services.</p>
                    <a href="#above-intro-part" class="btn btn-outline">
                        <i class="fas fa-eye"></i>
                        <span>How Does Givr Work?</span>
                    </a>
                </div>
            </div>
        </section>
        <!--=====================================
                    BANNER PART END
        =======================================-->


        <!--=====================================
                    SUGGEST PART START
        =======================================-->
        <section class="suggest-part">
            <div class="container">
                <div class="suggest-slider slider-arrow">
                    <div class="suggest-card">
                        <div class="suggest-img">
                            <img src="images/suggest/automobile.png" alt="car">
                        </div>
                        <div class="suggest-meta">
                            <h6><a href="#">automobile</a></h6>
                            <p>(4,521) ads</p>
                        </div>
                    </div>
                    <div class="suggest-card">
                        <div class="suggest-img">
                            <img src="images/suggest/furniture.png" alt="furniture">
                        </div>
                        <div class="suggest-meta">
                            <h6><a href="#">furniture</a></h6>
                            <p>(4,521) ads</p>
                        </div>
                    </div>
                    <div class="suggest-card">
                        <div class="suggest-img">
                            <img src="images/suggest/properties.png" alt="house">
                        </div>
                        <div class="suggest-meta">
                            <h6><a href="#">Housing</a></h6>
                            <p>(4,521) ads</p>
                        </div>
                    </div>
                    <div class="suggest-card">
                        <div class="suggest-img">
                            <img src="images/suggest/fashion.png" alt="food">
                        </div>
                        <div class="suggest-meta">
                            <h6><a href="#">Clothing</a></h6>
                            <p>(4,521) ads</p>
                        </div>
                    </div>
                    <div class="suggest-card">
                        <div class="suggest-img">
                            <img src="images/suggest/electronics.png" alt="cycle">
                        </div>
                        <div class="suggest-meta">
                            <h6><a href="#">electronics</a></h6>
                            <p>(4,521) ads</p>
                        </div>
                    </div>
                    <div class="suggest-card" style="display: none;">
                        <div class="suggest-img" style="display: none;">
                            <img src="images/suggest/hospitality.png" alt="clothes">
                        </div>
                        <div class="suggest-meta">
                            <h6><a href="#">hospitality</a></h6>
                            <p>(4,521) ads</p>
                        </div>
                    </div>
                    <div class="suggest-card">
                        <div class="suggest-img">
                            <img src="images/suggest/gadgets.png" alt="computer">
                        </div>
                        <div class="suggest-meta">
                            <h6><a href="#">gadgets</a></h6>
                            <p>(4,521) ads</p>
                        </div>
                    </div>
                    <div class="suggest-card">
                        <div class="suggest-img">
                            <img src="images/suggest/education.png" alt="phone">
                        </div>
                        <div class="suggest-meta">
                            <h6><a href="#">Books</a></h6>
                            <p>(4,521) ads</p>    
                        </div>
                    </div>
                    <div class="suggest-card">
                        <div class="suggest-img">
                            <img src="images/suggest/software.png" alt="scooter">
                        </div>
                        <div class="suggest-meta">
                            <h6><a href="#">Miscellaneous</a></h6>
                            <p>(4,521) ads</p>
                        </div>
                    </div>
                    <div class="suggest-card">
                        <div class="suggest-img">
                            <img src="images/suggest/food.png" alt="television">
                        </div>
                        <div class="suggest-meta">
                            <h6><a href="#">food</a></h6>
                            <p>(4,521) ads</p>
                        </div>
                    </div>
                    <div class="suggest-card">
                        <div class="suggest-img">
                            <img src="images/suggest/services.png" alt="truck">
                        </div>
                        <div class="suggest-meta">
                            <h6><a href="#">services</a></h6>
                            <p>(4,521) ads</p>
                        </div>
                    </div>
                    <div class="suggest-card" style="display: none;">
                        <div class="suggest-img">
                            <img src="images/suggest/animals.png" alt="pet">
                        </div>
                        <div class="suggest-meta">
                            <h6><a href="#">animals</a></h6>
                            <p>(4,521) ads</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


                <!--=====================================
                    AD LIST PART START
        =======================================-->
        <section class="ad-list-part">
            <div class="container">

                <!-- PRODUCT TOP FILTER -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product-filter">
                            <select class="product-short-select custom-select">
                                <option selected>Short by Best Sell</option>
                                <option value="1">Short by New Item</option>
                                <option value="2">Short by Popularity</option>
                                <option value="3">Short by Average review</option>
                            </select>
                            <ul class="product-card-type">
                                <li class="grid-verti active"><i class="fas fa-grip-vertical"></i></li>
                                <li class="grid-hori"><i class="fas fa-grip-horizontal"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- PRODUCT CARD -->
                <div class="row" id="feedD">
                    <% if(posts) { %>
                        <% for(let i = 0 ; i<posts.length;i++) { %>

                    <div class="col-sm-6 col-md-4 col-lg-3 card-grid">
                        <div class="product-card">
                            <div class="product-head">
                                <div class="product-img" style="background: url(<%= posts[i].path %>) no-repeat center; background-size: cover;">
                                    <i class="cross-badge fas fa-bolt"></i>
                                    <span class="flat-badge rent">rent</span>
                                    <ul class="product-meta">
                                        <li><i class="fas fa-bookmark"></i><p><%= posts[i].bookmarks%></p></li>
                                        <li><i class="fas fa-eye"></i><p id="clicks<%= posts[i]._id%>"><%= posts[i].clicks%></p></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-info">
                                <div class="product-tag">
                                    <i class="fas fa-tags"></i>
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#"><%= posts[i].category%></a></li>
                                        <li class="breadcrumb-item active" aria-current="page"><%= posts[i].tag%></li>
                                    </ol>
                                        <ul class="product-widget">
                                            <li>
                                                <a href="/" class="tooltip">
                                                    <i class="far fa-envelope"></i>
                                                    <span class="tooltext top">Ask Questions</span>
                                                </a>
                                            </li>
                                            <li>
                                                <button class="tooltip">
                                                    <i class="far fa-bookmark"></i>
                                                    <span class="tooltext top">bookmark</span>
                                                </button>
                                            </li>
                                        </ul>
                                </div>
                                <div class="product-title">
                                    <h5><a href="/grid-details" class="realTitle"><%= posts[i].title%></a></h5>
                                    <ul class="product-location">
                                        <li><i class="fas fa-map-marker-alt"></i><p><%= posts[i].city%>, <%= posts[i].state%></p></li>
                                        <li class="timeAgo" style="margin-left: auto; margin-right: 0 !important;"><i class="fas fa-clock"></i><p>30 min ago!</p></li>
                                    </ul>
                                </div>
                                <div class="product-details">
                                    <div class="product-price">
                                        <h5>Free</h5>
                                        <span>/Negotiable</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>

                    <% } %>
                </div>

                <!-- PRODUCT PAGINATION -->
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#">
                                    <i class="fas fa-long-arrow-alt-left"></i>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link active" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">...</li>
                            <li class="page-item"><a class="page-link" href="#">67</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">
                                    <i class="fas fa-long-arrow-alt-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                    AD LIST PART END
        =======================================-->
            <div id="above-intro-part"></div>
        <!--=====================================
                    INTRO PART START
        =======================================-->
        <section class="intro-part" id="intro-part">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-center-heading">
                            <h2>Do you have something to donate?</h2>
                            <p>Here at Givr we seperate the generous donations that our users put up into four main categories, Trivials, Essentials, Devices, and Limited.</p>
                            <a href="/" class="btn btn-outline">
                                <i class="fas fa-plus-circle"></i>
                                <span>Put Up A Giv</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                    INTRO PART END
        =======================================-->


        <!--=====================================
                     PRICE PART START
        =======================================-->
        <section class="price-part">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-center-heading part1">
                            <h2>Best Reliable Pricing Plans</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit aspernatur illum vel sunt libero voluptatum repudiandae veniam maxime tenetur.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="price-card">
                            <div class="price-head">
                                <i class="flaticon-poker-cards"></i>
                                <h3>$00</h3>
                                <h4>Trivials</h4>
                            </div>
                            <ul class="price-list">
                                <li>
                                    <i class="fas fa-plus"></i>
                                    <p>Unlimted pickups</p>
                                </li>
                                <li>
                                    <i class="fas fa-plus"></i>
                                    <p>No ID Verification required</p>
                                </li>
                                <li>
                                    <i class="fas fa-plus"></i>
                                    <p>No Givr Moderation required</p>
                                </li>
                                <li>
                                    <i class="fas fa-plus"></i>
                                    <p>Donator gains 10 points</p>
                                </li>
                            </ul>
                            <div class="price-btn">
                                <a href="/" class="btn btn-inline">
                                    <i class="fas fa-sign-in-alt"></i>
                                    <span>Register Now</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="price-card">
                            <div class="price-head" title="Food and Clothing">
                                <i class="flaticon-diet"></i>
                                <h3>$00</h3>
                                <h4>Essentials</h4>
                            </div>
                            <ul class="price-list">
                                <li>
                                    <i class="fas fa-minus"></i>
                                    <p>2 Pickups per Week</p>
                                </li>
                                <li>
                                    <i class="fas fa-minus"></i>
                                    <p>ID Verification Required</p>
                                </li>
                                <li>
                                    <i class="fas fa-plus"></i>
                                    <p>No Givr Moderation Required</p>
                                </li>
                                <li>
                                    <i class="fas fa-plus"></i>
                                    <p>Can Request More Pickups</p>
                                </li>
                                <li>
                                    <i class="fas fa-plus"></i>
                                    <p>Donator gains 50 points</p>
                                </li>
                            </ul>
                            <div class="price-btn">
                                <a href="user-form.html" class="btn btn-inline">
                                    <i class="fas fa-sign-in-alt"></i>
                                    <span>Register Now</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="price-card price-active">
                            <div class="price-head" title="Devices are Electronics like phones, tablets, and gaming consoles that are operational and not broken. If one of these Items are labeled as broken they fall under the `Trivial` Category. ">
                                <i class="flaticon-responsive"></i>
                                <h3>$23</h3>
                                <h4>Devices</h4>
                            </div>
                            <ul class="price-list">
                                <li>
                                    <i class="fas fa-minus"></i>
                                    <p>1 Pickup per Month <span class="bracket left">(</span><span class="oper">Operational Devices</span><span class="bracket right">)</span></p>
                                </li>
                                <li>
                                    <i class="fas fa-minus"></i>
                                    <p>ID Verification Required</p>
                                </li>
                                <li>
                                    <i class="fas fa-plus"></i>
                                    <p>No Givr Moderation Required</p>
                                </li>
                                <li>
                                    <i class="fas fa-minus"></i>
                                    <p>No Extra Pickups</p>
                                </li>
                                <li>
                                    <i class="fas fa-plus"></i>
                                    <p>Donator Gains 200 points</p>
                                </li>
                            </ul>
                            <div class="price-btn">
                                <a href="/" class="btn btn-inline">
                                    <i class="fas fa-sign-in-alt"></i>
                                    <span>Register Now</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="price-card" title="Limited items are like cars, and housing that is longer then 2 months. The reason why these items are limited to 1 per year, is because we want everyone to get a chance at these items.">
                            <div class="price-head">
                                <i class="flaticon-car"></i>
                                <h3>$49</h3>
                                <h4>Limited</h4>
                            </div>
                            <ul class="price-list">
                                <li>
                                    <i class="fas fa-minus"></i>
                                    <p>1 Pickup per Year</p>
                                </li>
                                <li>
                                    <i class="fas fa-minus"></i>
                                    <p>ID Verification Required</p>
                                </li>
                                <li>
                                    <i class="fas fa-minus"></i>
                                    <p>Givr Moderation Required</p>
                                </li>
                                <li>
                                    <i class="fas fa-minus"></i>
                                    <p>No Extra Pickups</p>
                                </li>
                                <li>
                                    <i class="fas fa-plus"></i>
                                    <p>Donator Gains 1000 points</p>
                                </li>
                            </ul>
                            <div class="price-btn">
                                <a href="/" class="btn btn-inline">
                                    <i class="fas fa-sign-in-alt"></i>
                                    <span>Register Now</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                     PRICE PART END
        =======================================-->


        <!--=====================================
                     BLOG PART START
        =======================================-->
        <!-- <section class="blog-part">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-center-heading">
                            <h2>Read Our <span>Recent Articles</span></h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit aspernatur illum vel sunt libero voluptatum repudiandae veniam maxime tenetur.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="blog-slider slider-arrow">
                            <div class="blog-card">
                                <div class="blog-img">
                                    <img src="images/blog/01.jpg" alt="blog">
                                    <div class="blog-overlay">
                                        <span class="marketing">Marketing</span>
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <a href="#" class="blog-avatar">
                                        <img src="images/avatar/01.jpg" alt="avatar">
                                    </a>
                                    <ul class="blog-meta">
                                        <li>
                                            <i class="fas fa-user"></i>
                                            <p><a href="#">MironMahmud</a></p>
                                        </li>
                                        <li>
                                            <i class="fas fa-clock"></i>
                                            <p>02 Feb 2021</p>
                                        </li>
                                    </ul>
                                    <div class="blog-text">
                                        <h4><a href="#">Lorem ipsum dolor sit amet eius minus elit cum quaerat volupt.</a></h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus veniam ad dolore labore laborum perspiciatis...</p>
                                    </div>
                                    <a href="#" class="blog-read">
                                        <span>read more</span>
                                        <i class="fas fa-long-arrow-alt-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="blog-card">
                                <div class="blog-img">
                                    <img src="images/blog/02.jpg" alt="blog">
                                    <div class="blog-overlay">
                                        <span class="advertise">advertise</span>
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <a href="#" class="blog-avatar">
                                        <img src="images/avatar/02.jpg" alt="avatar">
                                    </a>
                                    <ul class="blog-meta">
                                        <li>
                                            <i class="fas fa-user"></i>
                                            <p><a href="#">LabonnoKhan</a></p>
                                        </li>
                                        <li>
                                            <i class="fas fa-clock"></i>
                                            <p>02 Feb 2021</p>
                                        </li>
                                    </ul>
                                    <div class="blog-text">
                                        <h4><a href="#">Lorem ipsum dolor sit amet eius minus elit cum quaerat volupt.</a></h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus veniam ad dolore labore laborum perspiciatis...</p>
                                    </div>
                                    <a href="#" class="blog-read">
                                        <span>read more</span>
                                        <i class="fas fa-long-arrow-alt-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="blog-card">
                                <div class="blog-img">
                                    <img src="images/blog/03.jpg" alt="blog">
                                    <div class="blog-overlay">
                                        <span class="safety">safety</span>
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <a href="#" class="blog-avatar">
                                        <img src="images/avatar/03.jpg" alt="avatar">
                                    </a>
                                    <ul class="blog-meta">
                                        <li>
                                            <i class="fas fa-user"></i>
                                            <p><a href="#">MironMahmud</a></p>
                                        </li>
                                        <li>
                                            <i class="fas fa-clock"></i>
                                            <p>02 Feb 2021</p>
                                        </li>
                                    </ul>
                                    <div class="blog-text">
                                        <h4><a href="#">Lorem ipsum dolor sit amet eius minus elit cum quaerat volupt.</a></h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus veniam ad dolore labore laborum perspiciatis...</p>
                                    </div>
                                    <a href="#" class="blog-read">
                                        <span>read more</span>
                                        <i class="fas fa-long-arrow-alt-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="blog-card">
                                <div class="blog-img">
                                    <img src="images/blog/04.jpg" alt="blog">
                                    <div class="blog-overlay">
                                        <span class="security">security</span>
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <a href="#" class="blog-avatar">
                                        <img src="images/avatar/04.jpg" alt="avatar">
                                    </a>
                                    <ul class="blog-meta">
                                        <li>
                                            <i class="fas fa-user"></i>
                                            <p><a href="#">TahminaBonny</a></p>
                                        </li>
                                        <li>
                                            <i class="fas fa-clock"></i>
                                            <p>02 Feb 2021</p>
                                        </li>
                                    </ul>
                                    <div class="blog-text">
                                        <h4><a href="#">Lorem ipsum dolor sit amet eius minus elit cum quaerat volupt.</a></h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus veniam ad dolore labore laborum perspiciatis...</p>
                                    </div>
                                    <a href="#" class="blog-read">
                                        <span>read more</span>
                                        <i class="fas fa-long-arrow-alt-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="blog-btn">
                            <a href="blog-list.html" class="btn btn-inline">
                                <i class="fas fa-eye"></i>
                                <span>view all blogs</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!--=====================================
                     BLOG PART END
        =======================================-->


        <!--=====================================
                    FOOTER PART PART
        =======================================-->
        <footer class="footer-part">
            <div class="container">
                <div class="row newsletter">
                    <div class="col-lg-6">
                        <div class="news-content">
                            <h2>Subscribe for Latest Offers</h2>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam, aliquid reiciendis! Exercitationem soluta provident non.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <form class="news-form">
                            <input type="text" placeholder="Enter Your Email Address">
                            <button class="btn btn-inline">
                                <i class="fas fa-envelope"></i>
                                <span>Subscribe</span>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="footer-content">
                            <h3>Contact Us</h3>
                            <ul class="footer-address">
                                <li>
                                    <i class="fas fa-map-marker-alt"></i>
                                    <p>1420 West Jalkuri Fatullah, <span>Narayanganj, BD</span></p>
                                </li>
                                <li>
                                    <i class="fas fa-envelope"></i>
                                    <p>support@classicads.com <span>info@classicads.com</span></p>
                                </li>
                                <li>
                                    <i class="fas fa-phone-alt"></i>
                                    <p>+8801838288389 <span>+8801941101915</span></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="footer-content">
                            <h3>Quick Links</h3>
                            <ul class="footer-widget">
                                <li><a href="#">Store Location</a></li>
                                <li><a href="#">Orders Tracking</a></li>
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Size Guide</a></li>
                                <li><a href="#">Faq</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="footer-content">
                            <h3>Information</h3>
                            <ul class="footer-widget">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Delivery System</a></li>
                                <li><a href="#">Secure Payment</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Sitemap</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="footer-info">
                            <a href="#"><img src="images/logo.png" alt="logo"></a>
                            <ul class="footer-count">
                                <li>
                                    <h5>929,238</h5>
                                    <p>Registered Users</p>
                                </li>
                                <li>
                                    <h5>242,789</h5>
                                    <p>Community Ads</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-card-content">
                            <div class="footer-payment">
                                <a href="#"><img src="images/pay-card/01.jpg" alt="01"></a>
                                <a href="#"><img src="images/pay-card/02.jpg" alt="02"></a>
                                <a href="#"><img src="images/pay-card/03.jpg" alt="03"></a>
                                <a href="#"><img src="images/pay-card/04.jpg" alt="04"></a>
                            </div>
                            <div class="footer-option">
                                <button type="button"><i class="fas fa-globe"></i>English</button>
                                <button type="button"><i class="fas fa-dollar-sign"></i>USD</button>
                            </div>
                            <div class="footer-app">
                                <a href="#"><img src="images/play-store.png" alt="play-store"></a>
                                <a href="#"><img src="images/app-store.png" alt="app-store"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-end">
                <div class="container">
                    <div class="footer-end-content">
                        <p>All Copyrights Reserved &copy; 2021 - Developed by <a href="#">Mironcoder</a></p>
                        <ul class="social-transparent footer-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!--=====================================
                    FOOTER PART END
        =======================================-->

        
        <!--=====================================
                    JS LINK PART START
        =======================================-->
        <!-- FOR BOOTSTRAP -->
        <script src="../js/vendor/jquery-1.12.4.min.js"></script>
        <script src="../js/vendor/popper.min.js"></script>
        <script src="../js/vendor/bootstrap.min.js"></script>

        <!-- FOR SLICK SLIDER -->
        <script src="../js/vendor/slick.min.js"></script>
        <script src="../js/custom/slick.js"></script>

        <!-- FOR INTERACTION -->
        <script src="../js/custom/main.js"></script>
        <!--=====================================
                    JS LINK PART END
        =======================================-->
    </body>
</html>






